body {
    margin: 0;
    font-family: "Smythe", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} 
.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    
}
.burger{
    height: 400px;
    width: 100%;
}
.foodKinds{
    width : 100%; 
    padding : 15px 0 ; 
    margin-top: 5px 0;
}
.item{
    border-bottom:1px solid #252525;
    width : 482px ; 
    display: flex ;
    padding: 16px 0  ;
    height: 140px ;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 10px;

}
.emoji{
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 10px ;
}
.name{
    color : #ffffff;
    position: absolute;
    top : 20px ;
    font-size: 15px ;
    margin-left: 20px;

}
span{
    font-size: 30px ;
    margin-bottom: 6px ;
    margin-left: 20px ;
}
.food{
    display: flex;
}
.add{
    background-color: #ffffff;
    color : #252525;
    font-weight:500;
    font-size: 1rem;
    border : solid 0.5px #252525;
    border-radius: 50%;
    width : 50px ;
    height: 50px ;
    text-align: center;
    margin-top: auto;   
    margin-bottom: auto; 
    box-shadow:2px 2px  22px red ;
    cursor : pointer;
}
.order{
    width : 300px;
    display: flex;
}
.remove{
    margin-left:20px  ;
    border: none;
    color:#808080;
    background-color: #ffffff;
    margin-top: 2px ;
    cursor: pointer;
    font-size: 15px ;
}
#price ,#totalPrice h3 span{
    margin-left: auto;
    
}
#totalPrice{
    border-top: 2px solid black;
    font-size: 1.87rem ;
    width : 100%;
    display : flex;
}
.total{
    margin-top: 41px;
}
#complete{
    display: none;
}
#complete , #pay {
    width : 344px ;
    background-color: #16DB99;
    color :#ffffff;
    border : solid 1px #ffffff;
    font-weight: bold;
    padding : 16px 8px ;
    border : none;
    border-radius: 16px ;
    font-size: 1.1rem;
    margin: 10px auto ;
    cursor: pointer;
    text-align: center;
    margin: 10px auto;

}
#order{
    font-size: 1.5rem;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color : #252525;
    width : 524px ; 
    height: 542.240478515625px;
    background-color: #ffffff;
    padding : 15px 20px ; 
    border:none;
    border-radius:3.89px ;
    position: fixed;
    margin: auto;
    top : 50%; 
    bottom: 50%;
}
#pay{
    width: 250px ;
    background-color: #16DB99;
}
.detail{
    width : 475.911376953125px;
    height: 71.30380249023438px;
    border:solid 2px #757575;
    border-radius: 3.89px;
    font-weight: 700;
    text-align: center;
}
h3{
    font-size: 1.7rem;
}
#details{
    width: 100%;
}