body {
    margin: 0;
    font-family: "Smythe", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
} 
.container {
    width: 100%;
    position: relative;
    
}
.burger{
    height: 400px;
    width: 100%;
}
.foodKinds{
    width : 100%; 
    padding : 15px 0 ; 
    margin-top: 5px 0;
}
.item{
    border-bottom:1px solid #252525;
    width : 482px ; 
    display: flex ;
    padding: 16px 0  ;
    height: 140px ;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 10px;

}
.emoji{
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 10px ;
}
.name{
    color : #ffffff;
    position: absolute;
    top : 20px ;
    font-size: 15px ;
    margin-left: 20px;

}
span{
    font-size: 30px ;
    margin-bottom: 6px ;
    margin-left: 20px ;
}
.food{
    display: flex;
}
.add{
    background-color: #ffffff;
    color : #252525;
    font-weight:500;
    font-size: 1rem;
    border : solid 0.5px #252525;
    border-radius: 50%;
    width : 50px ;
    height: 50px ;
    text-align: center;
    margin-top: auto;   
    margin-bottom: auto; 
    box-shadow:2px 2px  22px red ;
    cursor : pointer;
}
.order{
    width : 300px;
    display: flex;
}
#remove{
    margin-left:20px  ;
    border: none;
    color:#808080;
}
#price{
    margin-left: auto;
}